.close {
    margin-left: 10px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.close:hover {

    background-color: rgb(246, 15, 15);
    color: #fff;
}